<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="/login" method="POST">
        <h1>कृपया अपने अकाउंट की डीटेल्स भरें</h1>
        <input type="email" required id="email" name="email" placeholder="अपना ईमेल भरें">
        <input type="text" required id="password" name="password" placeholder="अपना पासवर्ड सेट  करें">
        <button type="submit">submit</button>
    </form>
</body>

</html>