<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vector transports-New document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        .input,
        .submit {
            width: 300px;
            height: 30px;
            border: 1px solid black;
            border-radius: 5px;
            outline: none;
            background: white;
            margin-bottom: 5px;
        }
        
        .submit {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <h1 class="bg-dark text-light mt-1 mb-1 text-center">नया डाक्यूमेंट</h1>

    <p style="text-align:center;" id="instruction"></p>
    <form action="/" method="POST" style="display:flex; flex-direction: column; align-items:center; justify-content:center; text-align:center;">
        <div class="form-group">
            <div class="d-flex flex-row p-1"><input class="form-control mr-2" data-description-hindi="ट्रिप कब शुरू हुई?" data-description="the day it starts" required class="input" type="text" id="dateStarted" name="dateStarted" placeholder="ट्रिप कब शुरू हुई"><button type="button"
                    class="btn bg-dark text-light btn-sm" id="item1" onclick='func(this.id)'><i class="fa fa-microphone" ></i></button><button type="button" id="speak1" class="btn ml-2 bg-dark text-light btn-sm" onclick='speakInput(this.id)'><i class="fa fa-volume-up" ></i></button></div>

            <div class="d-flex flex-row p-1"><input class="form-control mr-2" data-description-hindi="ट्रक कहां लोड हुआ?" data-description="what is the origin" required class="input" type="text" id="origin" name="origin" placeholder="ट्रिप कहाँ से शुरू हुई"><button type="button" class="btn bg-dark text-light btn-sm"
                    id="item2" onclick='func(this.id)'><i class="fa fa-microphone"></i></button><button type="button" id="speak2" class="btn ml-2 bg-dark text-light btn-sm" onclick='speakInput(this.id)'><i class="fa fa-volume-up" ></i></button></div>

            <div class="d-flex flex-row p-1"><input class="form-control mr-2" data-description-hindi="ट्रक कहाँ जाएगा?" required class="input" data-description="what is the destination" type="text" id="destination" name="destination" placeholder="ट्रिप कहाँ समाप्त हुई"><button type="button"
                    class="btn bg-dark text-light btn-sm" id="item3" onclick='func(this.id)'><i class="fa fa-microphone"></i></button><button type="button" id="speak3" class="btn ml-2 bg-dark text-light btn-sm" onclick='speakInput(this.id)'><i class="fa fa-volume-up" ></i></button></div>

            <div class="d-flex flex-row p-1"><input class="form-control mr-2" data-description-hindi="आपका नाम?" required class="input" type="text" data-description="driver's name" id="driver" name="driver" placeholder="ड्राइवर"><button type="button" class="btn bg-dark text-light btn-sm"
                    id="item4" onclick='func(this.id)'><i class="fa fa-microphone"></i></button><button type="button" id="speak4" class="btn ml-2 bg-dark text-light btn-sm" onclick='speakInput(this.id)'><i class="fa fa-volume-up" ></i></button></div>

            <div class="d-flex flex-row p-1"><input class="form-control mr-2" data-description-hindi="कस्टमर कौन है?" required class="input" data-description="who is the client" type="text" id="client" name="client" placeholder="कस्टमर"><button type="button" class="btn bg-dark text-light btn-sm"
                    id="item5" onclick='func(this.id)'><i class="fa fa-microphone"></i></button><button type="button" id="speak5" class="btn ml-2 bg-dark text-light btn-sm" onclick='speakInput(this.id)'><i class="fa fa-volume-up" ></i></button></div>

            <div class="d-flex flex-row p-1"><input class="form-control mr-2" data-description-hindi="ट्रिप कब समाप्त हुआ?" required class="input" type="text" data-description="the day trip ends" id="dateEnd" name="dateEnd" placeholder="ट्रिप कब समाप्त हुई:"><button type="button" class="btn bg-dark text-light btn-sm"
                    id="item6" onclick='func(this.id)'><i class="fa fa-microphone"></i></button><button type="button" id="speak6" class="btn ml-2 bg-dark text-light btn-sm" onclick='speakInput(this.id)'><i class="fa fa-volume-up" ></i></button></div>

        </div>
        <button class="btn bg-dark text-light" class="submit" type="submit">सब्मिट</button>
    </form>
</body>
<script>
    var speechRecognition = window.webkitSpeechRecognition;
    var recognition = new speechRecognition();
    recognition.continuous = true;
    const hindi = "hi-IN";
    recognition.lang = hindi;

    var instruction = document.getElementById('instruction');

    function func(id) {
        var item = document.getElementById(id);
        var synth = window.speechSynthesis;
        var utterThis = new SpeechSynthesisUtterance(item.previousSibling.getAttribute('data-description-hindi'));
        utterThis.lang = 'hi-IN';
        synth.speak(utterThis);
        instruction.innerText = item.previousSibling.getAttribute('data-description-hindi');
        item.previousSibling.value = "";

        setTimeout(() => {
            recognition.start();
            recognition.onresult = (e) => {
                recognition.stop();
                let current = e.resultIndex;
                let transcript = e.results[current][0].transcript;
                /* हां या नहीं में जवाब दें */
                // var isit = new SpeechSynthesisUtterance("क्या आपने कहा " + transcript + ".");
                // instruction.innerText = "क्या आपने कहा " + transcript + "?";
                // isit.lang = hindi;
                // synth.speak(isit);
                document.getElementById(id).previousSibling.value = transcript;
            }
        }, 2000);
    }

    recognition.onstart = () => {
        instructions.text("listening...")
    }

    recognition.onerror = () => {
        instructions.text("error occured")
    }

    function speakInput(id) {
        var item = document.getElementById(id);
        var synth = window.speechSynthesis;
        var utterThis = new SpeechSynthesisUtterance(item.previousSibling.previousSibling.value);
        var fillIn = new SpeechSynthesisUtterance('आपने यह जानकारी नहीं दी है');
        utterThis.lang = 'hi-IN';
        if (item.previousSibling.previousSibling.value != '') {
            synth.speak(utterThis)
        } else {
            synth.speak(fillIn);
        }
    }
</script>

</html>